* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5e17eb;
    padding: 15px;
    margin: 0 auto;
}

h1{
    color:#fff;
}

.indent h2{
    text-align: center;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

ul li a:hover{
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    justify-content: space-between;
}

section .container img{
    width: 400px;
    margin: 10px;
}

.artc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artc article{
    width: 30%;
    margin: 5px;
    padding: 5px;
}

.artc article img{
    width: 400px;
    height: 300px;
}

.artc article a{
    background-color: #ecf0f1;
    color: #5e17eb;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight:bold ;
    margin-top:8px ;
}

.artc article a:hover{
    text-decoration: underline;
}

form input,
form textarea,
form button {
    display: block;
    width: 450px;
    margin-bottom: 10px;
    padding: 8px;
}

form textarea {
    resize: none;
    height:180px;
}

form button {
    background-color: #5e17eb;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

input:focus, textarea:focus {
    outline-color:#5e17eb;
}

footer {
    background-color: #5e17eb;
    color: #fff;
    padding: 10px;
}


    

